.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}

#root {
  background-color: #ececec;
}

.colorText{
  color: black ;
}

.noDecoration {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

h1 {
  font-size: 1.9rem;
}

/* navbar */
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color:#66d351;
}

.link {
  margin-left: 30px;
  font-size: 1.2rem;
}

.navLinkPlacement {
  flex: 1;
}

.navUsername {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.btnLogPlacement {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

.btnLog {
  width: 70px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid grey;
  margin-right: 20px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #66d351;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60%;
}

.logoStyle {
  width: 30%;
  height: 100%;
}

.polPryContainer {
  display: flex;
  flex-direction: row;
}

.polPryStyle {
  margin: 20px;
}

/* home page */

.postDisplay {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.postCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px grey solid;
  border-radius: 50px;
  width: 500px;
  height: 400px;
  margin: 30px;
  background-color: #e8f8e2;
  overflow: hidden;
}


.headerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32%;
  background-color: #7cbe6a;  
}

.title {
  flex: 1;
  font-size: 1.7rem;
  font-weight: 600;
}

.delModBtn {
  flex: 0.3;

}

.bodyCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modBodyCard {
  position: absolute;
  top: 20px;
  right: 47px;
}

.footerCard {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  height: 32%;
  background-color: #7cbe6a;
  overflow: hidden;
}

.username {
  margin-left: 50px;
  font-weight: 600;
  font-size: 1.4rem;
}

.likeContainer {
  margin-right: 30px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.likeBtnContainer {
  margin-right: 20px;
}

.unlikeBtn {
  color: grey;
  border: 1px grey solid;
  border-radius: 25px;
  padding: 3px;
}

.likeBtn {
  border: 1px black solid;
  border-radius: 25px;
  padding: 5px;
}

.likeCount {
  font-size: 1.3rem;
}


/* createPost page  */

.creatPostPage {
  background-color: #ececec;
  width: 100%;
  height: 600px;
}

.form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 70px;
background-color: #7cbe6a;
width: 60%;
height: 70%;
}

.fieldStyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.inputForm{
  margin-top: 10px;
  width: 250px;
  height: 25px;
  border-radius: 20px;
  border: 1px grey solid;
}

.inputText{
  margin-top: 10px;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  border: 1px grey solid;
}

.submitButton{
  border: 1px grey solid;
  border-radius: 25px;
  width: 130px;
  height: 45px;
}

/* post page */ 

.modalForm {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 400px;
  border: 1px solid black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #7cbe6a;
}

.modalInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  margin: 10px;
}

.field {
  width: 65%;
  height: 60px;
  border: 0.5px solid black;
  border-radius: 15px;
  margin-top: 10px;
}

.marginFile {
  margin: 20px;
}

.postPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%
}

.leftside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}


.cardPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px grey solid;
  border-radius: 50px;
  width: 90%;
  height: 500px;
  margin-top: 100px;
  background-color: #E798AE;
}

.postBody{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.dltBtn {
  margin-right: 30px;
}

.rightside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.addCommentContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.btnAddComment {
  border-radius: 25px;
  width: 130px;
  height: 45px;
  margin-top: 20px;
}
.listOfComments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment {
  border:  2px #962D2D solid;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  width: 60%;
}

/* login page */

.loginForm {
  width: 100%;
  height: 500px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.loginInput {
  height: 20px;
  margin-top: 10px;
  border: 2px #4A1C40 solid;
  border-radius: 25px;
}

.loginButton {
  width: 150px;
  height: 50px;
  border: 2px #4A1C40 solid;
  border-radius: 25px;
  margin-top: 10px;
}

/* profile page */

.profilePageContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.basicInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  width: 50%;
  background-color: #e8f8e2;
  margin-top: 20px;
  padding-bottom: 20px;
}

.infoContainerA{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.infoContainerB {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.postContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.listOfPost {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}